.filmy-page[b-6qvl1dkfdw] {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.film-box[b-6qvl1dkfdw] {
    display: flex;
    flex-direction: row;
    background-color: rgb(39, 39, 39);
    border-radius: 1rem;    
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 40vw;
}

.film-img[b-6qvl1dkfdw] {
    margin: 1rem;
    z-index: 1;
}

.film-img:hover[b-6qvl1dkfdw] {
    -webkit-filter: brightness(60%);
    transition: all 1s ease;
    cursor: pointer;
    z-index: 1;
}

.film-img > img[b-6qvl1dkfdw] {
    width: 10vw;
    border-radius: 1rem;
}

.film-info[b-6qvl1dkfdw] {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 2rem;
}

.film-title[b-6qvl1dkfdw] {
    font-size: 2rem;
}

.film-og-title[b-6qvl1dkfdw] {
    font-size: 1.3rem;
}

.film-info-bot[b-6qvl1dkfdw] {
    display: flex;
    flex-direction: column;
}

.film-genre[b-6qvl1dkfdw] {
    display: flex;
    flex-direction: row;
}

