.filmy-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.film-box {
    display: flex;
    flex-direction: row;
    background-color: rgb(39, 39, 39);
    border-radius: 1rem;    
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 40vw;
}

.film-img {
    margin: 1rem;
}

.film-img:hover {
    -webkit-filter: brightness(60%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    cursor: pointer;
}

.film-img > img {
    width: 10vw;
    border-radius: 1rem;
}

.film-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    margin: 2rem;
}

.film-title {
    font-size: 2rem;
}

.film-og-title {
    font-size: 1.3rem;
}

.film-info-bot {
    display: flex;
    flex-direction: column;
}

.film-genre {
    display: flex;
    flex-direction: row;
}

