@page "/filmy"
@using kinoUI.Models
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<div class="filmy-page">
    Filmy
    @if (filmy != null)
    {
        @foreach (var film in filmy)
        {
            <li>@film.Title</li>
            <li>@film.LengthInMinutes</li>
        }
    }
</div>

@code {
    List<Film> filmy = new();
    protected override async Task OnInitializedAsync()
    {
        filmy = await HttpClient.GetFromJsonAsync<List<Film>>(NavigationManager.BaseUri + "filmyData");
    }
}