.top-bar[b-st4fj1d944] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1b;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.logo[b-st4fj1d944] {
    margin: 0.5vw 0 0.5vw 1vw;
    display: flex;
    align-items: center;
}
.logo_text[b-st4fj1d944] {
    margin-left: 1vw;
    font-size: 3rem;
    color: orange;
    text-decoration: none;
}
.logo_text:hover[b-st4fj1d944] {
    -webkit-filter: brightness(80%);
}
.logo > a > img[b-st4fj1d944] {
    width: 4rem;
}



.links[b-st4fj1d944] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tab[b-st4fj1d944] {
    font-size: 1.4rem;
    margin-left: 5vw;
    padding: 10px 20px 10px 20px;
    background-color: rgb(63, 63, 63);
    border-radius: 10rem;
    color: rgb(230, 223, 218);
    text-decoration: none;
}
.nav-tab:hover[b-st4fj1d944] {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}


.searchField > form > input[b-st4fj1d944] {
    border: none;
    border-radius: 10rem;
    font-size: 1.2rem;
    padding: 7px 1px 5px 15px;
    background-color: rgb(63, 63, 63);
    color: rgb(230, 223, 218);
}
.searchField > form > input:focus[b-st4fj1d944] {
    outline: 2px solid rgb(110, 109, 108); 
    -webkit-filter: brightness(80%);
    transition: all 0.5s ease;
}
.searchField > form > button[b-st4fj1d944] {
    border: none;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight:600;
    margin-left: 0.5vw;
    padding: 10px 15px 8px 15px;
    background-color: rgb(63, 63, 63);
    color: rgb(230, 223, 218);
}
.searchField > form > button:hover[b-st4fj1d944] {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}

.accountButtons[b-st4fj1d944] {
    margin-right: 2vw;;
}
.accountButtons > button[b-st4fj1d944] {
    border: none;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight:600;
    margin-left: 0.5vw;
    padding: 10px 15px 8px 15px;
    background-color: rgb(63, 63, 63);
    color: orange
}

.accountButtons > button:hover[b-st4fj1d944] {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}
.content[b-st4fj1d944] {
    padding-top: 12vh;
    background-color: #383836;
    color: aliceblue;
}