@using Microsoft.AspNetCore.Components.Web
@inherits LayoutComponentBase

<div id="app">
    <FixedElement Selector=".top-bar">
        <div class="top-bar">
            <div class="logo">
                <a href="">
                    <img src="img/camera.png" />
                </a>

                <a href="" class="logo_text">
                    Kinogród
                </a>
            </div>

            <div class="links">
                <a href="filmy" class="nav-tab">
                    <!-- href odpowiada za przekierowanie do podstrony
            np. localhost:5000/filmy !-->
                    <div>
                        Filmy
                    </div>
                </a>

                <a href="gatunki" class="nav-tab">
                    <div>
                        Gatunki
                    </div>
                </a>

                <a href="top-filmy" class="nav-tab">
                    <div>
                        Top filmy
                    </div>
                </a>
            </div>
            <div class="searchField">
                <form>
                    <input />
                    <button>
                        Szukaj
                    </button>
                </form>
            </div>
            <div class="accountButtons">
                <button>
                    Zaloguj się
                </button>
                <button>
                    Zarejestruj się
                </button>
            </div>


            <!-- Tu będzie EditForm do szukania filmów!-->
        </div>
    </FixedElement>


    <div class="content">
        @Body
    </div>

    <footer>
        &copy; Kinogród @DateTime.UtcNow.Year
    </footer>
</div>

@code {
    private string? SearchString;

    private void Search()
    {
    }
}