.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1b;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.logo {
    margin: 0.5vw 0 0.5vw 1vw;
    display: flex;
    align-items: center;
}
.logo_text {
    margin-left: 1vw;
    font-size: 3rem;
    color: orange;
    text-decoration: none;
}
.logo_text:hover {
    -webkit-filter: brightness(80%);
}
.logo > a > img {
    width: 4rem;
}



.links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-tab {
    font-size: 1.4rem;
    margin-left: 5vw;
    padding: 10px 20px 10px 20px;
    background-color: rgb(63, 63, 63);
    border-radius: 10rem;
    color: rgb(230, 223, 218);
    text-decoration: none;
}
.nav-tab:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}


.searchField > form > input {
    border: none;
    border-radius: 10rem;
    font-size: 1.2rem;
    padding: 7px 1px 5px 15px;
    background-color: rgb(63, 63, 63);
    color: rgb(230, 223, 218);
}
.searchField > form > input:focus {
    outline: 2px solid rgb(110, 109, 108); 
    -webkit-filter: brightness(80%);
    transition: all 0.5s ease;
}
.searchField > form > button {
    border: none;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight:600;
    margin-left: 0.5vw;
    padding: 10px 15px 8px 15px;
    background-color: rgb(63, 63, 63);
    color: rgb(230, 223, 218);
}
.searchField > form > button:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}

.accountButtons {
    margin-right: 2vw;
}
.accountButtons > button {
    border: none;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight:600;
    margin-left: 0.5vw;
    padding: 10px 15px 8px 15px;
    background-color: rgb(63, 63, 63);
    color: orange
}

.accountButtons > button:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}
.content {
    padding-top: 12vh;
    background-color: #383836;
    color: aliceblue;
}

footer {
    background-color: #383836;
    color: rgb(230, 223, 218);
}


.loginWindowContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    overflow: hidden;
}

.loginBorder {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    transform: translate(-50%, -50%);
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1b;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
}

.loginWindow {
    overflow: hidden;
}

.loginTitle {
    font-size: 1.2rem;
    font-weight: 600;
    color: orange
}

.loginButtons {
    
}

.loginButtons > button {
    border: none;
    border-radius: 10rem;
    padding: 10px 15px 8px 15px;
    background-color: rgb(63, 63, 63);
    color: orange;
    display: flex;
    justify-content: center;
    width: 200px;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 0.4vw;
}


.loginButtons > button:hover {
    -webkit-filter: brightness(70%);
    transition: all 0.5s ease;
}

.loginInputs {
    margin-bottom: 0.2vw;
}

.loginInputs input:not(:last-child) {
    margin-bottom: 10px;
}


.content {
    min-height: 97.5vh;
}